<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img
      src="../assets/images/landscape-1844230.png"
      *ngIf="weatherData.main.temp > 288.15"
    />
    <img
      src="../assets/images/landscape-1844231.png"
      *ngIf="weatherData.main.temp <= 288.15"
    />
    <div class="weather-data">
      <div class="location">
        {{ weatherData.name }}
        <!-- {{wdata.name}} -->
      </div>
      <div class="temperature">
        {{ convertToCelcius(weatherData.main.temp) | number : "1.0-0" }}°C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/min.png" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ convertToCelcius(weatherData.main.temp_min) | number : "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/max.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ convertToCelcius(weatherData.main.temp_max) | number : "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/humidity.png" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }} %</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/wind.png" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }} km/h</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <span
    >&copy; 2023 Utkarsha Kshirsagar<br />
    All Rights Reserved.</span
  >
  <div class="author-promotion block">
    <a href="https://www.linkedin.com/in/utkarsha-kshirsagar-34b0bb170"
      ><img src="../assets/images/linkedin.png" height="40" width="40" /></a
    >&nbsp;&nbsp;<a href="mailto: msutkarsha@gmail.com"
      ><img src="../assets/images/email.png" height="40" width="40"
    /></a>
  </div>
</div>

<router-outlet></router-outlet>
